@font-face {
  font-family: "Aggravo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Aggravo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Aggravo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Heiro";
  src: url("./assets/fonts/HeirofLightOTFBold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "KnpsOdaesan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2510-2@1.0/KNPSOdaesan-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background-color: black;
}

.loader {
  width: 120px;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  filter: blur(5px) contrast(10) hue-rotate(60deg);
  mix-blend-mode: darken;
}
.loader:before,
.loader:after {
  content: "";
  width: 40px;
  border-radius: 50%;
  background: #d900ff !important;
  animation: l3 1s infinite alternate;
}
.loader:after {
  --s: -1;
}
@keyframes l3 {
  90%,
  100% {
    transform: translate(calc(var(--s, 1) * 30px));
  }
}
